**/.DS_Store
**/__pycache__
.idea
.python-version
.venv
.vscode
.wandb
TODO.txt
tmp
*.ckpt
*.gif
*.heic
*.heif
*.jpg
*.json
*.mov
*.mp4
*.png
*.pt
*.safetensors
*.safetensors
*.safetensors.index.json
*.safetensors.index.json.lock
*.webp
outputs
wandb
*.ipynb
.ipynb_checkpoints/
